<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/styles.css">
  <title>Register</title>
</head>
<body>
  <div class="container">
    <h1>Register</h1>
    <form id="registerForm">
        <input type="text" id="registerName" placeholder="Full Name" required>
        <input type="email" id="registerEmail" placeholder="Email" required>
        <input type="date" id="registerBirthday" placeholder="Birthday" required>
        <input type="password" id="registerPassword" placeholder="Password" required>
        <button onclick="newUser(); return false;">Register</button>
    </form>
    <p>Already have an account? <a href="../index.html">Login here</a></p>
  </div>
  <script src="../Scripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
